body {
background-image: url(/img/background/background1.PNG);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
background-attachment: fixed;
}

.infoForm {
    background-color:transparent;
    display: block;
    position:relative;
    text-decoration: none;
    white-space: nowrap;
    color: #000;
    float: left;
    margin-right: 9.5cm;
    margin-left: 10cm;
    width: 500px;
    height: 500px;
    border-radius: 25px;
}


.textbox {
    background: #ffffff;
    font-size: 4 rem;
    border-radius: 10px;
    border:1px solid #000;
    margin-left: 4.5cm;
    position:relative;
    padding: 13px 10px;
    width: 600px;
    height: 80px;
    margin-bottom: 20px;

}
.btn-style{
	border : solid 1px #000000;
	border-radius : 10px;
	font-size : 20px;
	color : #ffffff;
    margin-left: 4.4cm;
    font-weight: normal;
	padding : 1px 17px;
	background : #5cb85c;
}
